/node_modules
/Database-chuol/public/hot
/Database-choul/public/storage
/Database-choul/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log




*.iml
.gradle
/chuol-android/local.properties
/chuol-android/.idea/caches
/chuol-android/.idea/libraries
/chuol-android/.idea/modules.xml
/chuol-android/.idea/workspace.xml
/chuol-android/.idea/navEditor.xml
/chuol-android/.idea/assetWizardSettings.xml
.DS_Store
/chuol-android/build
/chuol-android/captures
.externalNativeBuild
